input {
    border: 0 ;
    outline: 0 ;
    background-color: transparent ;
    padding-inline-start: 10px ;
    &::placeholder{
        font-size: $size_sm ;
    }
}


.form_search {
    position: relative ;
    border: 1px solid $border_color ;
    height: 55px ;
    border-radius: 30px ;
    background-color: $bg_color ;
    max-width: 540px ;
    margin: auto ;
    @include flex(space-between, center, 0) ;
    padding-inline: 12px ;
    .input_search {
        width: calc(100% - 80px);
        height: 100% ;
    }
}