


.model {
    position: fixed ;
    inset: 0 ;
    @include flex(center, center, 0) ;
    // background-color: rgba(19, 58, 57, 0.562) ;
    z-index: 5000 ;
    // display : none !important;
}
.model_opacity {
    position: fixed ;
    inset: 0 ;
    background-color: rgba(18, 19, 19, 0.397) ;
    z-index: 1 ;
}
.model_xl {
    width: 45% ;
    background-color: $bg_color ;
    border-radius: $radius_base ;
    overflow: hidden ;
    padding: 5px 2px ;
    z-index: 2 ;
    box-shadow: $shadow_3 ;
    .content_model {
        overflow-x: hidden ;
        overflow-y: scroll ;
        padding: 13px ;
        height: calc(90vh - 50px) ;
        .header_model_xl {
            position: relative ;
            .image_model_xl {
                padding: 0 ;
                position: relative ;
                border-radius: $radius_base ;
                img {
                    width: 100% ;
                    height:100% ;
                    border-radius: $radius_base ;
                }
            }
        }
        .info_project_model {
            .details_project {
                border-radius: $radius_base ;
                background-color: $hover_color ;
                padding: $padding ;
                // border: 1px solid $border_color ;
            }
        }
    }
}
.header_top_model {
    height: 50px ;
    border-bottom: 1px solid $border_color ;
    @include flex(space-between, center, 15px) ;
    padding: $padding ;
}
