

.certificate_section {
    // background-color: $secoundary ;
    position: relative ;
    padding-block: 50px ;

    .content_certificate {
        padding-bottom: 20px ;
    }
    
}
.cards_certificate {
    @include grid(1) ;
    gap: $padding ;
    position: relative ;
    z-index: 2 ;
    .card_certificate {
        position: relative ;
        padding: $padding ;
        background-color: $bg_color ;
        border-radius: $radius_base ;
        border-inline-start: 5px solid $primary ;
        @include flex(start, start, 15px) ;
        cursor: pointer;
        @include transition() ;
        backdrop-filter: blur(10px) ;
        &:hover {
            transform: translateY(-10px);
        }
    }
    .info_certifcate {
        width: calc(100% - calc(180px + 15px)) ;
    }
    .image_sertificate {
        width: 180px ;
        height: 130px ;
        border-radius: $radius_base ;
        padding: 0 ;
        border: 1px solid $hover_color ;
        img {
            width: 100% ; height: 100% ;
            border-radius: $radius_base ;
        }
    }
}
