
.contact_index {
    margin-top: 100px ;   
    position: relative ;
    .content_contact {
        padding-block: 40px ;
        position: relative ;       
    }
}
.header_contact_index {
    position: absolute ;
    left: 50% ;
    transform: translateX(-50%);
    top: -70px ;
    padding: 20px ;
    background-color: $bg_color ;
    border-radius: $radius_base ;
    width: 70% ;
    border-bottom: 7px solid $secoundary ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.contacts_chaine {
    @include grid(3) ;
    gap: $space ;
    .item_contact {
        padding: $space ;
        border-radius: $radius_base ;
        background-color: $bg_color ;
        // border: 1px solid $border_color ;
        @include flex(space-between, center, 0) ;
        cursor: pointer ;
        // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }
}
.item_media {
    width: 40px ;
    height: 40px ;
    border-radius: 50% ;
    background-color: $primary ;
}
.circle {
    position: absolute ;
    width: 50px ; height: 50px ;
    border-radius: 50% ;
    background-color: $bg_color ;
    top: 50% ;
    transform: translateY(-50%) ;
    cursor: pointer;
    z-index: 2 ;
    &::after {
        content: "" ;
        width: 16px ; height: 16px ;
        position: absolute ;
        border-radius: 50% ;
    }
    &::before {
        content: "" ;
        width: 16px ; height: 16px ;
        position: absolute ;
        border-radius: 50% ;
    }
    &.circle_1 {
        left: -25px ;
        &::after {
            left: 50% ;
            top: -16px ;
            box-shadow: -8px 8px $bg_color ;
        }
        &::before {
            left: 50% ;
            bottom: -16px ;
            box-shadow: -8px -8px $bg_color ;
        }
    }
    &.circle_2 {
        right: -25px ;
        &::after {
            right: 50% ;
            top: -16px ;
            box-shadow: 8px 8px $bg_color ;
        }
        &::before {
            right: 50% ;
            bottom: -16px ;
            box-shadow: 8px -8px $bg_color ;
        }
    }
} 




// ===========Contact page style=====================================











