
.contact_index {
    margin-top: 170px ;   
    position: relative ;
    background-color: darken($primary , 4) ;
    // border-radius: 50% 50% 50% 50% / 5% 5% 0% 0%;
    .content_contact {
        padding-block: 40px ;
        position: relative ;       
    }
}
.header_contact_index {
    position: absolute ;
    left: 50% ;
    transform: translateX(-50%);
    top: -60px ;
    padding: 20px ;
    background-color: $bg_color ;
    box-shadow: $shadow_1 ;
    border-radius: $radius_base ;
    width: 70% ;
    border-bottom: 6px solid $secoundary ;
}
.contacts_chaine {
    @include grid(3) ;
    gap: $space ;
    .item_contact {
        padding: $space ;
        border-radius: $radius_base ;
        background-color: $base_color ;
        // background-color: $primary ;
        border-inline : 6px solid $secoundary ;
        border-block : 1px solid $secoundary ;
        cursor: pointer ;
    }
}
.item_media {
    width: 40px ;
    height: 40px ;
    border-radius: 6px ;
    background-color: darken($primary, 8) ;
}
.circle {
    position: absolute ;
    width: 60px ; height: 60px ;
    border-radius: 50% ;
    background-color: $bg_color ;
    top: 50% ;
    transform: translateY(-50%) ;
    padding: 20px ;
    cursor: pointer;
    z-index: 2 ;
    &::after {
        content: "" ;
        width: 16px ; height: 16px ;
        position: absolute ;
        border-radius: 50% ;
    }
    &::before {
        content: "" ;
        width: 16px ; height: 16px ;
        position: absolute ;
        border-radius: 50% ;
    }
    &.circle_1 {
        left: -30px ;
        &::after {
            left: 50% ;
            top: -16px ;
            box-shadow: -8px 8px $bg_color ;
        }
        &::before {
            left: 50% ;
            bottom: -16px ;
            box-shadow: -8px -8px $bg_color ;
        }
    }
    &.circle_2 {
        right: -30px ;
        &::after {
            right: 50% ;
            top: -16px ;
            box-shadow: 8px 8px $bg_color ;
        }
        &::before {
            right: 50% ;
            bottom: -16px ;
            box-shadow: 8px -8px $bg_color ;
        }
    }
}  

