/* ================================================================= */
/* HEADER - STYLE MAROCAIN MODERNE */
/* ================================================================= */
.header, .navigation_phone {
    position: fixed ;
    top: 0px ;
    inset-inline: 0px ;
    z-index: 1000 ;  
    padding-inline: $padding_base ;
    background-color: $bg_color ;
    border-bottom: 1px solid $border_color ;
    // box-shadow: 
    //     0 1px 0 rgba(0, 0, 0, 0.05),
    //     0 2px 4px rgba(0, 0, 0, 0.02),
    //     0 4px 8px rgba(0, 0, 0, 0.05),
    //     0 8px 16px rgba(0, 0, 0, 0.02);

    .header-container {
        height: 66px ;
        margin: 0 auto ;
        @include flex(space-between, center, 0) ;
        position: relative ;
        z-index: 2 ; 
    }
}
.navigation_phone {
    top: auto ;
    bottom: 0px ;
    height: 48px ; 
    padding-inline: $padding_phone ;
    border-top : 1px solid $border_color ; 
    @include flex(space-around, center, 10px ) ;
    display: none ;
    .nav_link  {
        height: 42px ;
        width: 50px ;
        border-radius: $radius_base ;
        position: relative;
        @include flex(center, center, 10px ) ;
        &:hover, &.active {
            background-color: $base_color ;
        }
    }
    .navigate_icon {
        &.active {
            color: $primary ;
        }
    }

}

.phone_btn {
    height: 35px ;
    padding: 10px ;
    border-radius: $radius_half ;
    cursor: pointer ;
    border: 1px solid $border_color !important ;
    display: none ;
}


.logo {cursor: pointer ;}
.logo_image {height: 49px ;}
.logo-link {
    text-decoration: none;
    display: flex;
    flex-direction: column ;
    align-items: flex-start ;
}
.nav-list {
    @include flex(start, center, 0px) ;  
    .nav-item {
        position: relative ;
    } 
    .nav-link {
        position: relative ;
        text-decoration: none ;
        padding : 10px 12px ;
        border-radius: $radius_half ;
        .text_nav {
            z-index : 3 !important ;
            @include transition();
            &.active {
                color: $primary !important ;
            }
        }
        
    }
}
.hover_anmate {
    position: absolute ;
    inset-inline-start: 0 ;
    bottom: 3px ;
    height: 6% ;
    width: 100% ;
    background-color: $primary ;
    border-radius: $radius_half ;
}
.for_navigate {
    bottom: auto ;
    top: -3px ;
}










