

.projects_section {
    padding-top: 30px ;   
}
.cards_projects {
    @include grid(2) ;
    gap: $space ;
    .card_project {
        cursor: pointer ;
        position: relative;
        overflow: hidden;
        &:hover {
            .image_project {
                transform: scale(1.05);
            }
        }
    }
    .header_card, .body_card {
        position: relative ;
        z-index: 2 ;
    }
    .header_card {
        max-height: 280px ;
        background-color: $hover_color ;
        border-radius: $radius_base ;
        overflow: hidden ;
        background-color: $base_color ;
        .image_project {
            @include transition() ;
            width: 100% ;
            height: 100% ;
            border-radius: $radius_base ;
            object-fit: cover ;
        }
    }

}

.swiper-button-prev, .swiper-button-next {
    width: 35px ;
    height: 35px ;
    border: 1px solid $border_color ;
    @include flex(center, center, 0) ;
    border-radius: 50% ;
    position: absolute ;
    bottom: 3px ;
    z-index: 4 ;
    font-size: 20px !important ;
    cursor: pointer ;
    @include transition() ;
    &:hover {
        color: $primary ;
        border-color: $primary ;
    }
}
.swiper-button-prev {
    left: calc(50% - 40px); 
    transform: rotate(180deg);
}
.swiper-button-next {
    right: calc(50% - 40px);
}

.images_swipper {
    .swiper-button-prev, .swiper-button-next {
        bottom: 20px ;
    }
}


.avatar {
    width: 20px ;
    height: 20px ;
    border-radius: 50% ;
    position: relative ;
    img {
        width: 100% ;
        height: 100% ;
        border-radius: 50% ;
    }
}

.nav_images_project {
    position: absolute ;
    bottom: 20px ;
    left: 50% ;
    padding: 8px 10px ;
    transform: translateX(-50%) ;
    border-radius: 20px ;
    background-color: #005c5ca8 ;
    @include flex(start, center, 10px ) ;
    .item_nav {
        width: 12px ;
        height: 12px ;
        border-radius: 50% ;
        background-color: $border_color ;
        cursor: pointer ;
        @include transition() ;
        &.active {
            background-color: $secoundary ;
        }
    }
}





// ==========Portfolio page============================
.portfolio_page {
    position: relative ;
    // padding-top: calc($height_header - 10px);
    .hero_portfolio_page {
        padding: 40px 0 30px 0 ;
    }
}
.content_screen {
    padding: 20px 0 40px 0 ;
}
.no_results {
    position: relative;
    height: 400px ;
    @include flex(center, center, 0) ;
    .image_notFound {
        width: 130px ;
        margin-inline: auto !important ;
    }
}
