

.services_section {
    padding-block: 20px ; 
}
.cards_services {
    @include grid(2) ;
    .card_service {
        border-inline-end: 1px solid $border_color ;
        padding: $padding 20px ;
        margin-block: 20px ;
        position: relative ;
        cursor: pointer ;
        &:nth-child(2) {
            border-inline-end: none ;
        }
        &:nth-child(4) {
            border-inline-end: none ;
        }
        .header_card {
            @include flex(center, center, 0) ;
             position: relative ;
        }
    }
    .image_service {
        width: 70px ;
        z-index: 2 ;
    }
    .service_svg {
        position: absolute ;
        top: -15px ;
        inset-inline-start: 50% ;
        transform: translateX(-50%);
        z-index: 1 ;
        width: 100px ;
        height: 100px ;
        background: $hover_color ;
        // border: 1px solid $border_color ;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        border-radius: 60% 40% 70% 30% / 40% 60% 30% 70%;
    }
}