



/* ================================================================= */
/* Thème sombre (par défaut) */
/* ================================================================= */
:root {
    /* Background & base */
    --bg-color: #020617 ;
    --base-color: rgba(15, 23, 42, 0.6) ;
    --hover-color: #313030;      
    --border-color: rgba(255, 255, 255, 0.08) ;

    /* Text colors */
    --text-base: #f8f2f2;
    --text-mular: #d1d5db;     
    --text-full: #ffffff; 
}
:root {
    /* Background & base */
    --bg-color: #45454bff ;
    --base-color: #4b4b52ff ;
    --hover-color: #505057ff ;      
    --border-color: rgba(255, 255, 255, 0.08) ;

    /* Text colors */
    --text-base: #dfdde2 ;
    --text-mular: #e1e4eb ;     
    --text-full: #ffffff ; 
}
/* ================================================================= */


/* ================================================================= */
/* Thème clair */
/* ================================================================= */
@mixin Light {
  :root {
        /* Background & base */
        --bg-color: #ffffff;
        --base-color: #f7f3f3;
        --hover-color: #eff3f1;      
        --border-color: #e5ebe8;

        /* Text colors */
        --text-base: #1f1f1f;
        --text-mular: #4b5563;    
        --text-full: #111827; 
  }
}
/* ================================================================= */
:root {
      /* Background & base */
      --bg-color: #ffffff;
      --base-color: #e8f1f1;
      --hover-color: #f1f7f4;      
      --border-color: #d2d8d5;

      /* Text colors */
      --text-base: #39434e ;
      --text-mular: #424e5c ;    
      --text-full: #303D4B ; 
}
