



/* ================================================================= */
/* Thème sombre (par défaut) */
/* ================================================================= */
:root {
    /* Background & base */
    --bg-color: #020617 ;
    --base-color: rgba(15, 23, 42, 0.6) ;
    --hover-color: #313030;      
    --border-color: rgba(255, 255, 255, 0.08) ;

    /* Text colors */
    --text-base: #f8f2f2;
    --text-mular: #d1d5db;     
    --text-full: #ffffff; 
}
/* ================================================================= */


/* ================================================================= */
/* Thème clair */
/* ================================================================= */
@mixin Light {
  :root {
        /* Background & base */
        --bg-color: #ffffff;
        --base-color: #f7f3f3;
        --hover-color: #eff3f1;      
        --border-color: #e5ebe8;

        /* Text colors */
        --text-base: #1f1f1f;
        --text-mular: #4b5563;    
        --text-full: #111827; 
  }
}
/* ================================================================= */
