
/* Font 1: unageo */
@font-face {
    font-family: 'Unageo';
    src: url('../../assets/fonts/unageo/Unageo-Light.ttf') format('truetype');
    font-weight: 200 ;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unageo';
    src: url('../../assets/fonts/unageo/Unageo-Regular.ttf') format('truetype');
    font-weight: 300 ;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unageo';
    src: url('../../assets/fonts/unageo//Unageo-Medium.ttf') format('truetype');
    font-weight: 500 ;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unageo';
    src: url('../../assets/fonts/unageo//Unageo-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unageo';
    src: url('../../assets/fonts/unageo//Unageo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unageo';
    src: url('../../assets/fonts/unageo//Unageo-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unageo';
    src: url('../../assets/fonts/unageo/Unageo-black.ttf') format('truetype');
    font-weight: 900 ;
    font-style: normal;
    font-display: swap;
}

