



/* ================================================================= */
/* Thème sombre (par défaut) */
/* ================================================================= */
// :root {
//     /* Background & base */
//     --bg-color: #020617 ;
//     --base-color: rgba(15, 23, 42, 0.6) ;
//     --hover-color: #313030;      
//     --border-color: rgba(255, 255, 255, 0.08) ;

//     /* Text colors */
//     --text-base: #f8f2f2;
//     --text-mular: #d1d5db;     
//     --text-full: #ffffff; 
// }
// :root {
//     /* Background & base */
//     --bg-color: #0c1d16ff ;
//     --base-color: #11291fff ;
//     --hover-color: #152921ff ;      
//     --border-color: rgba(255, 255, 255, 0.08) ;

//     /* Text colors */
//     --text-base: #dfdde2 ;
//     --text-mular: #e1e4eb ;     
//     --text-full: #ffffff ; 
// }
/* ================================================================= */


/* ================================================================= */
:root {
      /* Background & base */
      --bg-color: #f8f7f7 ;
      --base-color: #F4EDE3 ;
      --hover-color: #f8f1e8ff ;      
      --border-color: #d1dbd6;

      /* Text colors */
      --text-base: #57606b ;
      --text-mular: rgb(111, 117, 122) ;    
      --text-full: #232e39 ; 
}
