
@media (max-width: 640px) {
    html , * {
        font-family: 'unageo', 'Switzer', "Montserrat", "Fredoka", "unageo", "Outfit", sans-serif !important ; 
    }
     body {padding-bottom: 48px ;  }
    .wave_bottom {top: -7px !important;}
    .footer_web {display: none ;}
    // =================Hero=====================================
    .hero_secrion {
        padding-bottom: 0 ;
    }
    .content_hero {
        width: 100% ;
        margin: auto ;
        padding-top: 40px ;
        height: calc(100vh - 250px) ;
    }
    // ==================Header=================================
    .header {
        padding-inline: $padding_phone ;
        box-shadow: 
            0 1px 0 rgba(0, 0, 0, 0.05),
            0 2px 4px rgba(0, 0, 0, 0.02),
            0 4px 8px rgba(0, 0, 0, 0.05),
            0 8px 16px rgba(0, 0, 0, 0.02);
        .logo_image {height: 40px ;}
        .btn_lg, .nav-list {
            Display : none ;  
        }
        .phone_btn {
            @include flex(center, center, 8px) ;
        }
        .header-container {
            height: 58px ;
        }
    }
    .navigation_phone {
        @include flex(space-around, center, 10px ) ;
        box-shadow: 
            0 1px 0 rgba(0, 0, 0, 0.05),
            0 2px 4px rgba(0, 0, 0, 0.02),
            0 4px 8px rgba(0, 0, 0, 0.05),
            0 8px 16px rgba(0, 0, 0, 0.02);
    }
   
    // ================About================================
    .about_section {
        padding-top: 0 ;
        margin-bottom: 20px !important ;
        margin-top: 0 !important ;
        .content_about {
            Display: block !important ; 
            .card_about:last-child {
                .hr_primary {display:  none ;}
            }
            .info_about {
                width: 100% !important ;
                text-align: center !important ;
                padding-inline: 20px ;
                .hr_first {display:  none ;}
            }
            .image_about {
                width: 80% !important;
                margin: auto ;
                margin-bottom: 10px ;
                img {
                    aspect-ratio: 1/1 ;
                    border-radius: 50% ;
                }
            }
        }
    }
    .animated_radius {
        width: 200px;
        height: 150px;
        inset-block-end: 50px ;
        inset-inline-end: 50px ;
    }
    // ============Skills==================================
    .skills_section {
        margin-top: 16px ;
        padding-block: 0px ;  
    }
    .cards_skills {
        @include grid(2) ;
        gap: $padding ;
    }
    .projects_section {
        padding-block: 10px ;
        margin-top: -13px !important ;
    }
    .services_section {
        padding-block : 15px ;
        margin-top: -15px ;
    }
    .title_section {
        margin-bottom: 25px ;
        width: 80% ;
    }
    .cards_projects, .cards_services, .cards_faqs {
        @include grid(1) ;
        gap: calc($padding - 4px) ;
        .card_service {
            border: none ; 
            padding: 0 ;
        }
    }
    // =================Certificates=======================
    .certificate_section {
        margin-top: -13px !important ;
        padding-bottom: 0 ;
        .card_certificate {
            flex-wrap: wrap ;
            @include flex(start, start, 0px) ;
            .info_certifcate {
                width: 100% !important ;
                margin-top: -10px ;
            }
        }
    }

    // =================Projects============================
    .model {
        @include flex(center, end, 0) ;
        align-items: end !important ;
    }
    .model_xl {
        width: 100% !important ;
    }
    .content_model {
        height: calc(70vh) !important;
        .hidden_text {display: none ;}
        border-radius: $radius_base $radius_base 0 0 ;
    }
    // ===================Contact==================================
    .contact_index {
        margin-top: 70px ;   
        .content_contact {
            padding-block: 40px ;    
        }
    }
    .contacts_chaine {
        @include grid(1) ;
        gap: calc($padding - 4px);
    }
    .header_contact_index {
        left: 5% ;
        width: 90% ;
        transform: translateX(-0%);
    }


    // ======================== scrol ==========  
    .scroll {
        position: relative;
        &::-webkit-scrollbar {
            width: 2px; 
        }
        &::-webkit-scrollbar-track {
            background: $border_color ; 
            width: 2px ; 
            border-radius: 2.5px ;
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(182, 184, 185) ;  
            width: 3px;  
            border-radius: 10px ;
            margin: 0 auto ;  
        }
    }
   
    
}