


// ==========================================================================
// use files sass style
// ==========================================================================
@use "./themes/light";   
@use "./themes/font";   
@use "./base/base";
@use "./base/functions"; 
@use "./base/main" ;

@use "./utils/border";
@use "./utils/colors";
@use "./utils/flex";
@use "./utils/margin";
@use "./utils/padding"; 
@use "./utils/radius" ;

@use "./components/accordin"; 
@use "./components/buttons"; 
@use "./components/badge";
@use "./components/cards"; 
@use "./components/message"; 
@use "./components/form";
@use "./components/models";
@use "./components/text";
@use "./utils/grid";

@use "./sections/about"; 
@use "./sections/certificate"; 
@use "./sections/educations";
@use "./sections/experience"; 
@use "./sections/faq"; 
@use "./sections/header"; 
@use "./sections/hero";
@use "./sections/projects"; 
@use "./sections/services"; 
@use "./sections/skills"; 
@use "./sections/contact";
// ==========================================================================
@use "./themes/phone";
@use "./themes/tablet";  
