


// ==========================================================================
// Import files sass style
// ==========================================================================
@import "./themes/base" ;   
@import "./base/base", 
        "./base/functions", 
        "./base/main" ;

@import "./utils/border",
        "./utils/colors", 
        "./utils/flex", 
        "./utils/margin",
        "./utils/padding", 
        "./utils/radius" ;

@import "./components/accordin", 
        "./components/buttons", 
        "./components/badge",
        "./components/cards", 
        "./components/message", 
        "./components/form",
        "./components/models", 
        "./components/text", 
        "./utils/grid" ;

@import "./sections/about", 
        "./sections/certificate", 
        "./sections/educations",
        "./sections/experience", 
        "./sections/faq", 
        "./sections/header", 
        "./sections/hero",
        "./sections/projects", 
        "./sections/services", 
        "./sections/skills", 
        "./sections/contact" ;
// ==========================================================================
@import "./themes/phone", "./themes/tablet" ;  
