


// ==========================================================================
// Import files sass style
// ==========================================================================
@import "./themes/light";   
@import "./themes/font";   
@import "./base/base";
@import "./base/functions"; 
@import "./base/main" ;

@import "./utils/border";
@import "./utils/colors";
@import "./utils/flex";
@import "./utils/margin";
@import "./utils/padding"; 
@import "./utils/radius" ;

@import "./components/accordin"; 
@import "./components/buttons"; 
@import "./components/badge";
@import "./components/cards"; 
@import "./components/message"; 
@import "./components/form";
@import "./components/models";
@import "./components/text";
@import "./utils/grid";

@import "./sections/about"; 
@import "./sections/certificate"; 
@import "./sections/educations";
@import "./sections/experience"; 
@import "./sections/faq"; 
@import "./sections/header"; 
@import "./sections/hero";
@import "./sections/projects"; 
@import "./sections/services"; 
@import "./sections/skills"; 
@import "./sections/contact";
// ==========================================================================
@import "./themes/phone";
@import "./themes/tablet";  
