

// =========================================================================
//  Theme Colors
// =========================================================================
$bg_color       : var(--bg-color) ;
$base_color     : var(--base-color) ;
$hover_color    : var(--hover-color) ;
$border_color   : var(--border-color) ;

$text_base      : var(--text-base) ;
$text_mular     : var(--text-mular) ;
$text_full      : var(--text-full) ;
// =========================================================================

// https://github.com/reinaldosimoes/design-resources?tab=readme-ov-file E36414 #1F2937
// =========================================================================
//  Colors Basic #0A2463  #D4AF37 | #2D5D7C | #003F5C | #6C63FF | #0070f3  #3B82F6 #C08A5D
// =========================================================================
$primary    : #159b7e ;  
$primary    : #E36414 ;  
$secoundary : #159b7e ;
$danger     : #c4404dff ;
$success    : #28A745 ;
$warning    : #FFC107 ;
$info       : #343536 ;
$light      : #dfe3e7 ;
$dark       : #27292c ;
$colors: ( 
    "primary"   : $primary , 
    "secoundary": $secoundary , 
    "danger"    : $danger,
    "success"    : $success,
    "warning"    : $warning,
    "info"      : $info ,
    "light"     : $light ,
    "dark"      : $dark ,
);
// =========================================================================


// =========================================================================
//  BoxStyles
// =========================================================================
$padding        : 15px ;
$margin         : 20px ;
$space          : 20px ;
$radius_base    : 8px ;
$radius_circle  : 50%  ;
$radius_half    : 30px ;
$border_width   : 1px  ;
$height_header  : 65px ;
$padding_base   : 140px ;
$padding_phone  : 12px ;
$boxs: ( "xx" : 28 , "xs" : 36 , "sm" : 40 ,  "md" : 45 , "lg" : 50 , "xl" : 53 );
$breakpoints: ( "sm": 576px , "md": 768px , "lg": 992px , "xl": 1200px);
// =========================================================================


// =========================================================================
//  Sizes Texts
// =========================================================================
$size_sm        : 15px ;
$size_base      : 17px ;
$size_headline  : 20px ;
$size_large     : 28px ;
$sizes: ( "xx" : 10px , "xs" : 12px , "sm" : $size_sm ,  "md" : $size_base , "lg" : $size_headline , "xl" : 38px );
// =========================================================================


// =========================================================================
//  Shadow 
// =========================================================================
$shadow_1:          0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;
$shadow_1_half:     0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !default;
$shadow_2:          0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !default;
$shadow_3:          0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !default;
$shadow_4:          0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !default;
$shadow_5:          0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !default;
// =========================================================================
