

// ===============================================================
// flex function get 3 arguments 
// ===============================================================
@mixin flex($justify, $align, $gap) {
    display         : flex ;
    justify-content : $justify ;
    align-items     : $align ;
    gap             : $gap ;
}
// ===============================================================
// 
// 
// ===============================================================
// transition animate function get one argument 
// ===============================================================
@mixin transition() {
    transition: all 0.5s ease-in-out ;
    -webkit-transition: all 0.5s ease-in-out  ; 
    -moz-transition: all 0.5s ease-in-out  ; 
    -ms-transition: all 0.5s ease-in-out  ; 
    -o-transition: all 0.5s ease-in-out  ;
}
// ===============================================================
// 
// 
// ===============================================================
// ===============================================================
@mixin gradient($color) {
    background-image: linear-gradient(30deg, $color , darken($color , 15%) , $color );
    background-image: -moz-linear-gradient(30deg, $color , darken($color , 15%) , $color );
    background-image: -webkit-linear-gradient(30deg, $color , darken($color , 15%) , $color );
    background-image: -o-linear-gradient(30deg, $color , darken($color , 15%) , $color );
    background-image: -ms-linear-gradient(30deg, $color , darken($color , 15%) , $color );
}
// ===============================================================
// 
// 
// ===============================================================
// ===============================================================
@mixin grid($grid){
    display: grid ;
    grid-template-columns: repeat($grid, 1fr) ;
    gap: 0 ;
}
// ===============================================================
// 
// 
// ===============================================================
// ===============================================================
@mixin card(){
    backdrop-filter: blur(8px) saturate(1.2);
    -webkit-backdrop-filter: blur(8px) saturate(1.2);
    position: relative;
    overflow: hidden ;
    border: 1px solid transparent ;
}
// ===============================================================
// 
// 
// ===============================================================
// ===============================================================
@mixin btn() {
    font-weight     : normal ;
    overflow        : hidden ;
    border-radius   : $radius_base ;
    backdrop-filter: blur(7px) saturate(1.3);
    -webkit-backdrop-filter: blur(7px) saturate(1.3);
    position: relative ;
    overflow: hidden ;
    border: none ;
    outline: none ;
    &:active {
        transform: scale(0.97);
        box-shadow: 0 2px 8px 0 rgba(34,43,69,0.13);
        &::after {
            width: 200%;
            height: 200%;
            opacity: 1;
            transition: 0s;
    }
    }
    &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 0;
            height: 0;
            background: rgba(255,255,255,0.3);
            border-radius: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            transition: width 0.4s cubic-bezier(0.4,0,0.2,1), height 0.4s cubic-bezier(0.4,0,0.2,1), opacity 0.4s;
            opacity: 0;
    }
    
}
// ===============================================================
