

@import url('https://api.fontshare.com/v2/css?f[]=switzer@300,400,500,600,700,800,900&display=swap');
$font : "poppins", 'unageo', 'Switzer', "Montserrat", "Fredoka", "unageo", "Outfit", sans-serif ; 
html, * {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    font-family: $font ; 
    font-optical-sizing: auto ;
    scroll-behavior: smooth;
}

body {
    padding: 0 ;
    margin: 0 ;
    background-color: $bg_color ;
    color: $text_base ;
    font-weight: 400 ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh ;
    width: 100% ;
    overflow-x: hidden !important ;
    scroll-behavior: smooth;

    font-size: $size_base ;
    line-height: 1.5;
    text-rendering: optimizeLegibility;

    -webkit-text-size-adjust: 100% ;
    -ms-text-size-adjust: 100% ;
    text-size-adjust: 100% ;
}
.container {
    padding-inline: $padding_base ;
    // overflow-x: hidden !important ;
    position: relative ;
}

ul {
    list-style: none ;
    margin: 0 ;
    padding: 0 ; 
}
a {
    text-decoration: none ;
    color: $text_mular ;
}
img {
    object-fit: cover ;
}

.toolpis {
    position: relative ;
    @include transition() ;
    &::after {
        content: attr(data-toolpis) ;
        position: absolute ;
        top: -35px ;
        left: 50% ;
        transform: translate(-50%);
        background-color: $info ;
        border-radius: $radius_base ;
        padding: 5px 15px ;
        color: $light !important ;
        z-index: 2 ;
        opacity: 0 ;
        width: max-content ;
        font-size: $size_sm ;
    }
    &:hover {
        transform: translateY(-3px);
        &::after {
            opacity: 1 ;
        }
    }
}
.hr_primary {
    background-color: $border_color ;
    margin-block: 12px  ;
    height: 1px ;
}
.hr_primary_2 {
    background-color: darken($primary, 3) ;
    margin-block: 12px  ;
    height: 1px ;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading_image {
    width: 50px ;
    height: 50px ;
    border-radius: 50% ;
    @include flex(center, center, 0) ;
    position: relative ;
    z-index: 2 ;
    &::after {
        content: "" ;
        position: absolute ;
        inset: -2px ;
        border:3px solid ;
        border-color: $primary $light $light $light ;
        border-radius: 50% ;
        animation: rotate 1s linear infinite;
    }
}
.svg {
    position: absolute ;
    inset: 0 ;
    &.svg_1 {
        background-color: $secoundary ;
        @include gradient_2($secoundary, bottom) ;
        z-index: 1 ;
        transform: skewY(2.3deg) ;
    }
    &.svg_2 {
        background-color: $primary ;
        z-index: 0 ;
        transform: skewY(-2.3deg) ;
    }
}
.slach {
    margin-inline: 15px ;
    height: 20px ;
    width: 1px ;
    background-color: $border_color ;
    &.mx10{margin-inline: 10px ;}
}
.slach-sm {
    margin-inline: 10px ;
    height: 15px ;
    width: 1px ;
    background-color: $border_color ;
}


.scroll {
    position: relative;
    &::-webkit-scrollbar {
        width: 8px; 
    }
    &::-webkit-scrollbar-track {
        background: $border_color ; 
        width: 2px ; 
        border-radius: 2.5px ;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(182, 184, 185) ;  
        width: 10px;  
        border-radius: 10px ;
        margin: 0 auto ;  
    }
}
.inset_text {
    position: absolute ;
    inset-block-start: 2px ;
    inset-inline-end: 10px ;
    z-index: 2 ;
    &.top_10 {
        inset-block-start: 10px ;
    }
}
.avatar_xs {
    width: 15px ;
}
.text_base_dark {
    color: #39434e ;
}
.text_sm_dark {
    color: #424e5c !important ;
}
.waves {
    width: 100% ;
    margin-bottom: -10px ;
}
.wave_bottom {
    position: relative;
    top: -2px !important;
}



.notfoundpage {
    height: 100vh ;
}
.footer_web {
    padding: $padding ;
    background-color: $dark ;
}