

html, * {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    font-family: "unageo", "poppins" ;
}

body.light {@include Light() ;}

body {
    padding: 0 ;
    margin: 0 ;
    background-color: $bg_color ;
    color: $text_base ;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh ;
    width: 100% ;
    overflow-x: hidden ;

    font-size: $size_base ;
    line-height: 1.5;
    text-rendering: optimizeLegibility;

    -webkit-text-size-adjust: 100% ;
    -ms-text-size-adjust: 100% ;
    text-size-adjust: 100% ;
}



ul {
    list-style: none ;
    margin: 0 ;
    padding: 0 ; 
}